<persistence xmlns="http://java.sun.com/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd"
	version="2.0">
	<persistence-unit name="Watchtower"
		transaction-type="RESOURCE_LOCAL">
		<provider>org.hibernate.ejb.HibernatePersistence</provider>
		<class>watchtower.common.incident.Incident</class>
		<class>watchtower.common.event.Event</class>
		<class>watchtower.common.automation.Job</class>
		<class>watchtower.common.automation.JobExecution</class>
		<properties>
			<property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/{{ mysql_database }}" />
			<property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver" />
			<property name="hibernate.connection.username" value="{{ mysql_username }}" />
			<property name="hibernate.connection.password" value="{{ mysql_password }}" />
			<property name="hibernate.hbm2ddl.auto" value="update" />
			<property name="hibernate.show_sql" value="true" />
		</properties>
	</persistence-unit>
</persistence>
